<p>
  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Droneia</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
</p>

<mat-drawer-container class="page-container" autosize>
  <router-outlet></router-outlet>
  <mat-drawer #drawer class="sidenav" mode="side">
  </mat-drawer>
</mat-drawer-container>

